FRONTEND_URL=http://localhost:3001
APP_PORT=5000
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tradelayers
DB_SSLMODE=disable
DATABASE_URL=postgres://postgres:postgres@localhost:5433/tradelayers?sslmode=disable
LOG_LEVEL=debug
LOG_DIR=logs
INFO_LOG_FILE=app.log
ERROR_LOG_FILE=error.log
FINNHUB_API_KEY=
FINNHUB_WS_URL=wss://ws.finnhub.io
STRIPE_SECRET_KEY=
STRIPE_DONATION_CURRENCY=eur
STRIPE_DONATION_PRODUCT_NAME=TradeLayers donation
