APP_PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tradelayers
DB_SSLMODE=disable
DATABASE_URL=postgres://postgres:postgres@localhost:5432/tradelayers?sslmode=disable
LOG_LEVEL=debug
LOG_DIR=logs
INFO_LOG_FILE=app.log
ERROR_LOG_FILE=error.log
FINNHUB_API_KEY=
FINNHUB_WS_URL=wss://ws.finnhub.io
