# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp/
logs/

# Environment
.env
firebase.json
logs/
*.log


# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test
*.test
coverage.out

# Go
vendor/
